version: 2.1

orbs:
  prodsec: snyk/prodsec-orb@1.1

defaults: &defaults
  resource_class: small
  docker:
    - image: cimg/node:14.19

go_image: &go_image
  resource_class: small
  docker:
    - image: cimg/go:1.24.9

jobs:
  security-scans:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install
          command: npm install
      - prodsec/security_scans:
          mode: auto
          iac-scan: disabled
          release-branch: master

  test_ts:
    <<: *defaults
    working_directory: ~/work
    steps:
      - checkout
      - run:
          name: Install
          command: npm install
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Test
          command: npm test

  test_go:
    <<: *go_image
    working_directory: ~/work
    steps:
      - checkout
      - run:
          name: Test
          working_directory: go
          command: mkdir -p ../testresults && gotestsum --junitfile ../testresults/test-results.xml ./...
      - store_test_results:
          path: testresults/

  release:
    <<: *defaults
    working_directory: ~/work
    steps:
      - checkout
      - run:
          name: Install
          command: npm install
      - run:
          name: Release
          command: npx semantic-release@17

workflows:
  version: 2
  test:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: snyk-vuln-alerts-arch
          filters:
            branches:
              ignore:
                - master

      - security-scans:
          name: Security Scans
          context:
            - team-analysis-arch

      - test_ts:
          name: Test TS code
          requires:
            - Scan repository for secrets
            - Security Scans

      - test_go:
          name: Test Go code
          requires:
            - Scan repository for secrets
            - Security Scans

      - release:
          name: Release
          requires:
            - Test TS code
            - Test Go code
          context: nodejs-lib-release
          filters:
            branches:
              only:
                - master
